<h1>Sign Up</h1>
<% if @errors %>
  <p><%= @errors %></p>
  <% end %>
<%= form_tag('/users', method: :post) do%>
  <label for="username">Username:</label>
  <input type="text" name="username" value="">
  <label for="email">Email:</label>
  <input type="email" name="email" value="">
  <label for="password">Password:</label>
  <input type="password" name="password" value="">
  <button type="submit">Submit</button>
<% end %>
