// Place all the styles related to the patterns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pattern-chart {
  margin-bottom: 40px;
  width: 400px;
  margin: 40px auto;

}

span, #stitch-keys p {
  padding: 5px 15px;
  border: 1px solid #333;
  font-family: 'inconsolata', monospace;
  display: inline-block;
  width: 40px;
  height: 29px;
  vertical-align: bottom;
}
.pattern-description {
  margin-bottom: 30px;
}
#pattern-index-card {
  display: inline-block;
  margin: 0 30px 25px 0;
  background-color: rgba(102, 185, 191, .3);
  border: 3px solid #66b9bf;
  border-radius: 10px;
  padding: 20px;
  span {
    padding: 0 15px;
    width: 30px;
    height: 25px;
    vertical-align: text-top;
  }

}
.pattern-row {
  background-color: #fff;
}

#stitch-keys {
  margin-top: 40px;
}
.done {
  background-color: #3aa0da;
}

section {


}
