<!DOCTYPE html>
<html>
  <head>
    <title>KnittingPatternDesigner</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/patterns">Patterns</a>
        <a href="/users">Users</a>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
